:80 {
    log {
        output stdout
        level debug
    }

    handle /health {
        reverse_proxy localhost:8888
    }

    handle /v1* {
        reverse_proxy localhost:8888
    }

    handle {
        root * /srv
        file_server
        try_files {path} /index.html
    }
}
